/* Index */
/*
    1.0 - Universal Rules
    2.0 - HTML Rules
    3.0 - Body Rules
    4.0 - Common Rules
    5.0 - Header Rules
    6.0 - Home Rules
    7.0 - About Rules
    8.0 - Portfolio Rules
    9.0 - Services Rules
    10.0 - Prices Rules
    11.0 - Team Rules
    12.0 - Contact Rules
    13.0 - Footer Rules
*/
/* Common */
/*
    - opacity hover
    - opacity overlay
    - section header
    - section padding
    - hover effect 1 ( left to right )
    - hover effect 2 ( top to bottom )
    - container
*/

/* Start universal Rules */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
:root {
  --mn-bg-co: #ffffff; /* Main Background Color */
  --dk-bg-co: #10161a; /* Dark Background Color */
  --lt-bg-co: #fafafa; /* Light Background Color */
  --mn-dk-co: #6195ff; /* Main Dark Color */
  --mn-lt-co: #e8e8e8; /* Main Light Color */
  --br-dk-co: #10161a; /* Border Dark Color */
  --br-lt-co: #eeeeee; /* Border Light Color */
  --tx-dk-co: #10161a; /* Text Dark Color */
  --tx-lt-co: #868f9b; /* Text Light Color */
  --hd-dk-co: #10161a; /* Heading Dark Color */
  --hd-lt-co: #ffffff; /* Heading Light Color */
}
/* End universal Rules */

/* Start HTML Rules */
/* End HTML Rules */

/* Start Body Rules */
/* End Body Rules */

/* Start Common Rules */
.container {
  width: 1200px;
  margin: auto;
}
p {
  margin: 0 0 10px;
  line-height: 1.6;
  color: var(--tx-lt-co);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix {
  clear: both;
}
.btn {
  border: none;
  display: inline-block;
  padding: 15px 35px;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
}
.sec-pd {
  padding: 60px 0 60px 0;
}
.sec-head {
  text-align: center;
  margin-bottom: 60px;
}
.sec-head h2 {
  color: var(--tx-dk-co);
  text-transform: capitalize;
  font-size: 36px;
}
.sec-head .sec-head-line {
  display: block;
  margin: auto;
  width: 40px;
  height: 4px;
  background-color: var(--mn-dk-co);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--tx-dk-co);
}
.ltr-eff::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: var(--dk-bg-co);
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -ms-transition: width 0.5s;
  -o-transition: width 0.5s;
}
.ltr-eff:hover::before {
  width: 100%;
}
.tp-eff::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  background-color: var(--dk-bg-co);
  transition: height 0.5s;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
}
.tp-eff:hover::before {
  height: 100%;
}
.dk-bg {
  background-color: var(--lt-bg-co);
  border-top: 1px solid var(--br-lt-co);
  border-bottom: 1px solid var(--br-lt-co);
}
/* End Common Rules */

/* Start Header Rules */
header {
  position: fixed;
  background-color: rgba(28, 29, 33, 0.3);
  width: 100%;
  z-index: 2;
}
.logo {
  float: left;
  margin-top: 9px;
}
.logo i {
  font-size: 40px;
  color: var(--mn-dk-co);
}
.logo a {
  font-size: 40px;
  font-weight: 600;
  color: var(--hd-lt-co);
}
nav {
  float: right;
  margin-top: 9px;
}
.navbar > li {
  float: left;
  padding: 0px 15px;
  position: relative;
}
.navbar > li > a {
  display: block;
  padding: 15px 0px;
  font-size: 14px;
  line-height: 25px;
  color: var(--hd-lt-co);
}
.navbar > li > a:hover {
  opacity: 0.8;
}
.navbar > li > a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  left: 0;
  background-color: var(--mn-dk-co);
  transition: width 0.4s;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -ms-transition: width 0.4s;
  -o-transition: width 0.4s;
}
.navbar > li > a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: var(--mn-dk-co);
}
.navbar li a.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: var(--mn-dk-co);
}
.navbar li i {
  font-size: 10px;
  transition: transform 0.4s;
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  -ms-transition: transform 0.4s;
  -o-transition: transform 0.4s;
}
.navbar li a:hover i {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.navbar li ul {
  opacity: 0;
  visibility: hidden;
  background-color: var(--mn-dk-co);
  padding: 0;
  min-width: 180px;
  position: absolute;
  left: 5px;
  top: 100%;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
.navbar li:hover ul {
  opacity: 1;
  visibility: visible;
  background-color: var(--mn-dk-co);
  padding: 0;
  min-width: 180px;
  left: 5px;
}
.navbar li ul li a {
  display: block;
  padding: 10px 50px;
  font-size: 14px;
  color: var(--hd-lt-co);
  position: relative;
}
.navbar li ul li a:hover {
  background-color: var(--mn-bg-co);
  color: var(--mn-dk-co);
}
/* End Header Rules */

/* Start Home Rules */
#home {
  height: 100vh;
  position: relative;
  background-image: url(../images/background/background1.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.home-overlay {
  height: 100vh;
  background-color: rgba(28, 29, 33, 0.8);
  z-index: 1;
}
.home-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  color: var(--hd-lt-co);
  width: 65%;
}
.home-content h1 {
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
  color: var(--hd-lt-co);
}
.home-content p {
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 25px;
  color: var(--hd-lt-co);
}
.home-content .right-btn {
  background-color: var(--mn-dk-co);
  color: var(--hd-lt-co);
}
.home-content .right-btn:hover {
  opacity: 0.8;
}
.home-content .left-btn {
  background-color: var(--mn-bg-co);
  margin-right: 5px;
}
.home-content .left-btn:hover {
  opacity: 0.8;
}
/* End Home Rules */

/* Start About Rules */
.about-content {
  text-align: center;
}
.about-content-item {
  width: 30%;
  display: inline-block;
  margin: 18px;
  padding: 40px 10px;
  text-align: center;
  border: 1px solid var(--br-lt-co);
  position: relative;
}
.about-content-item i {
  color: var(--mn-dk-co);
  font-size: 36px;
  margin-bottom: 20px;
}
.about-content-item h3 {
  text-transform: capitalize;
  font-size: 20px;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.about-content-item:hover h3 {
  color: var(--hd-lt-co);
}
.about-content-item a {
  text-decoration: none;
  color: var(--mn-dk-co);
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}
.about-content-item a:hover {
  opacity: 0.8;
}
/* End About Rules */

/* Start Portfolio Rules */
.portfolio-sec {
  width: 100%;
  overflow: hidden;
}
.portfolio-content {
  width: 33.333%;
  padding: 20px;
  float: left;
  position: relative;
}
.portfolio-content img {
  width: 100%;
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.7);
}
.portfolio-content:hover .portfolio-overlay {
  opacity: 1;
  visibility: visible;
}
.portfolio-content-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}
.cat-name {
  display: block;
  color: var(--mn-dk-co);
  text-transform: uppercase;
  margin-bottom: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.portfolio-content:hover .cat-name {
  opacity: 1;
  visibility: visible;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
.portfolio-content-item h3 {
  color: var(--hd-lt-co);
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.portfolio-content:hover .portfolio-content-item h3 {
  opacity: 1;
  visibility: visible;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
.cat-link a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: var(--mn-dk-co);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
}
.portfolio-content:hover .cat-link a {
  opacity: 1;
  visibility: visible;
}
.portfolio-content:hover .cat-link a:hover {
  opacity: 0.8;
}
.cat-link a i {
  color: var(--hd-lt-co);
  line-height: 50px;
}
/* End Portfolio Rules */

/* Start Services Rules */
.services-item {
  width: 33.333%;
  float: left;
  padding: 15px;
}
.services-item-box {
  border: 1px solid var(--br-lt-co);
  padding: 55px 40px 55px 70px;
  position: relative;
}
.services-item-box:hover h3 {
  color: var(--hd-lt-co);
}
.services-item-icon {
  position: absolute;
  top: 55px;
  left: 20px;
}
.services-item-icon i {
  font-size: 30px;
  color: var(--mn-dk-co);
}
.services-item-desc h3 {
  text-transform: capitalize;
  font-size: 20px;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
/* End Services Rules */

/* Start Why Us Rules */
.why-us-left,
.why-us-right {
  width: 50%;
  float: left;
}
.why-us-left .sec-head {
  text-align: left;
}
.why-us-left .sec-head .sec-head-line {
  margin: 0 auto 0 0;
}
.why-us-left-content .why-us-feature {
  font-size: 16px;
  padding: 10px 0 0 45px;
}
.why-us-left-content .why-us-feature i {
  float: left;
  margin-right: 10px;
  color: var(--mn-dk-co);
  font-size: 25px;
}
.why-us-right-bullets ul {
  text-align: center;
}
.why-us-right-bullets ul li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: var(--br-lt-co);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.why-us-right-bullets ul li.active {
  background-color: var(--mn-dk-co);
}
/* End Why Us Rules */

/* Start Statistics Rules */
.statistics {
  height: 280px;
  background-image: url(../images/background/background2.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.statistics .overlay {
  background-color: rgba(28, 29, 33, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.statistics-content {
  padding-top: 60px;
}
.statistics-content-item {
  width: 25%;
  float: left;
  text-align: center;
}
.statistics-content-item i {
  color: var(--mn-dk-co);
  font-size: 50px;
  margin-bottom: 25px;
}
.statistics-content-item h3 {
  color: var(--hd-lt-co);
  font-size: 40px;
}
.statistics-content-item p {
  color: var(--hd-lt-co);
  font-size: 20px;
}
/* End Statistics Rules */

/* Start Prices Rules */
.prices-content-item {
  width: 33.333%;
  float: left;
  text-align: center;
  padding: 10px;
}
.prices-item-box {
  position: relative;
  border: 1px solid var(--br-lt-co);
  padding: 50px 90px;
}
.prices-box-hd {
  margin-bottom: 20px;
}
.prices-box-title {
  display: block;
  padding: 0 0 20px;
  color: var(--tx-lt-co);
  text-transform: uppercase;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.prices-item-box:hover .prices-box-title {
  color: var(--mn-dk-co);
}
.prices-box-hd .price {
  position: relative;
  width: 140px;
  height: 140px;
  margin: auto;
  border: 2px solid var(--mn-dk-co);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.prices-box-hd .price h3 {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.prices-item-box:hover .price h3 {
  color: var(--hd-lt-co);
}
.prices-box-hd .price h3 .duration {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--tx-dk-co);
  transition: 0.2s color;
  -webkit-transition: 0.2s color;
  -moz-transition: 0.2s color;
  -ms-transition: 0.2s color;
  -o-transition: 0.2s color;
}
.prices-item-box:hover .price h3 .duration {
  color: var(--hd-lt-co);
}
.prices-box-btn {
  padding: 20px 0 0 0;
}
.prices-box-btn a {
  display: block;
  padding: 15px 35px;
  color: var(--mn-dk-co);
  border: 2px solid var(--mn-dk-co);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
.prices-box-btn a:hover {
  opacity: 0.6;
}
/* End Prices Rules */

/* Start Testimonial Rules */
.testimonial {
  height: 300px;
  background-image: url(../images/background/background3.webp);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.testimonial .overlay {
  background-color: rgba(28, 29, 33, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.testimonial-content {
  padding-top: 60px;
}
.testimonial-content-item {
  float: left;
  width: 50%;
}
.testmonials-item-box {
  padding: 40px;
  position: relative;
}
.testmonials-item-box img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testmonials-item-box h3 {
  position: absolute;
  top: 10px;
  left: 90px;
  color: var(--hd-lt-co);
  font-size: 23px;
  text-transform: capitalize;
}
.testmonials-item-box span {
  position: absolute;
  top: 40px;
  left: 90px;
  color: var(--mn-dk-co);
  font-size: 14px;
  text-transform: uppercase;
}
.testmonials-item-box p {
  position: absolute;
  top: 90px;
  left: 0;
  padding: 0 80px 30px 0;
  color: var(--hd-lt-co);
}
/* End Testimonial Rules */

/* Start Team Rules */
.team-content-item {
  width: 33.333%;
  float: left;
  text-align: center;
}
.team-item-box {
  position: relative;
  background-color: var(--lt-bg-co);
  border: 1px solid var(--br-lt-co);
  margin: 10px;
  padding: 30px;
  z-index: 0;
}
.team-item-box .image {
  position: relative;
}
.team-item-box .image img {
  width: 100%;
}
.team-item-box .image .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 29, 33, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
.team-item-box:hover .image .img-overlay {
  opacity: 1;
  visibility: visible;
}
.team-item-box .social-icon {
  position: absolute;
  top: 0;
  right: 0;
}
.team-item-box .social-icon i {
  display: block;
  width: 50px;
  height: 50px;
  background-color: var(--mn-dk-co);
  color: var(--hd-lt-co);
  line-height: 50px;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}
.team-item-box .social-icon i:hover {
  opacity: 0.8;
}
.team-item-box h3 {
  color: var(--tx-dk-co);
  text-transform: capitalize;
  font-size: 25px;
  margin: 20px 0 5px 0;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.team-item-box:hover h3 {
  color: var(--hd-lt-co);
}
.team-item-box span {
  color: var(--tx-lt-co);
  text-transform: uppercase;
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
}
.team-item-box:hover span {
  color: var(--mn-dk-co);
}
/* End Team Rules */

/* Start Blog Rules */
.blog-content-item {
  width: 33.333%;
  float: left;
}
.blog-item-box {
  margin: 10px 20px;
  background-color: var(--mn-bg-co);
}
.blog-item-box .blog-box-img img {
  width: 100%;
}
.blog-item-box .blog-box-content {
  padding: 20px 20px 40px;
}
.blog-item-box .blog-box-content ul {
  margin-bottom: 20px;
}
.blog-item-box .blog-box-content ul li {
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  color: var(--tx-dk-co);
}
.blog-item-box .blog-box-content ul li i {
  margin-right: 5px;
  color: var(--mn-dk-co);
}
.blog-item-box .blog-box-content a {
  display: inline-block;
  margin-top: 10px;
  color: var(--mn-dk-co);
}
/* End Blog Rules */

/* Start Contact Rules */
.details-item {
  width: 33.333%;
  float: left;
  text-align: center;
}
.details-item i {
  color: var(--mn-dk-co);
  font-size: 35px;
  margin-bottom: 20px;
}
.details-item h3 {
  text-transform: capitalize;
  font-size: 20px;
}
.contact-sec .form {
  margin: auto;
}
.contact-sec .form .contact-form {
  width: 70%;
  margin: auto;
  padding: 30px;
}
.contact-sec .form input,
.contact-sec .form textarea {
  border: none;
  border-bottom: 1px solid var(--br-lt-co);
  background-color: var(--lt-bg-co);
  margin-bottom: 10px;
  padding: 5px;
}
.contact-sec .form input:focus,
.contact-sec .form textarea:focus {
  box-shadow: 1px 1px 5px #487eb0;
}
.contact-sec .form input::placeholder,
.contact-sec .form textarea::placeholder {
  color: var(--tx-lt-co);
}
.contact-sec .form input:focus::placeholder,
.contact-sec .form textarea:focus::placeholder {
  color: transparent;
}
.contact-sec .form input {
  display: block;
  width: 100%;
  height: 50px;
}
input-placeholder {
  color: var(--tx-lt-co);
}
.contact-sec .form textarea {
  height: 100px;
}
.contact-sec .form input[name="name"],
.contact-sec .form input[name="email"] {
  display: inline-block;
  width: calc(50% - 5px);
}
.contact-sec .form input[name="email"] {
  margin-left: 5px;
}
.contact-sec .form textarea {
  width: 100%;
}
.contact-sec .form .btn {
  display: block;
  margin: auto;
  background-color: var(--mn-dk-co);
  color: var(--hd-lt-co);
}
/* End Contact Rules */

/* Start Footer Rules */
.footer-sec {
  background-color: var(--dk-bg-co);
}
.footer-sec .logo {
  float: none;
  text-align: center;
}
.footer-sec .social-icons {
  text-align: center;
  margin: 40px 0;
}
.footer-sec .social-icons i {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: var(--mn-dk-co);
  color: var(--hd-lt-co);
  line-height: 50px;
  margin: 0 5px;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.footer-sec .social-icons i:hover {
  opacity: 0.8;
}
.footer-sec .copy-right {
  text-align: center;
  text-transform: uppercase;
}
.footer-sec .copy-right a {
  color: var(--mn-lt-co);
}
/* End Footer Rules */
